// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homescreen {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;

	background: linear-gradient(217deg, #2c3e50, #15e1e8, #24beff, #e47d24);
	background-size: 1200% 1200%;

	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
	@-webkit-keyframes AnimationName {
		0%{background-position:79% 0%}
		50%{background-position:22% 100%}
		100%{background-position:79% 0%}
	}
	@-moz-keyframes AnimationName {
		0%{background-position:79% 0%}
		50%{background-position:22% 100%}
		100%{background-position:79% 0%}
	}
	@keyframes AnimationName {
		0%{background-position:79% 0%}
		50%{background-position:22% 100%}
		100%{background-position:79% 0%}
	}

	#login {
		position: absolute;
		top: 45%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		color: white;
		text-align: center;

		img {
			width: 150px;
		}

		h1 {
			margin-top: 10px;
			margin-bottom: 60px;
			font-size: 4em;
		}

		#sign_in_button {
			img {
				width: 120px;
			}
		}
	}
}


#signIn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #e88419;
  text-align: center;
  padding-top: 25px;

	img {
	  width: 130px;
	  margin-top: 40px;
	  font-size: 2.5em;
	}

	h1 {
	  margin-top: 10px;
	  margin-bottom: 30px;
	  font-size: 3.7em;
	  color: white;
	}

	h2 {
	  text-align: center;
	  color: white;
	  font-size: 1.5em;
	  margin-bottom: 20px;
	}

	.field {
	  text-align: center;
	  margin-bottom: 5px;

		::-webkit-input-placeholder {
			opacity: .8;
		}
	}

	.actions{
	  text-align: center;
	}

	.button {
	  background-color: #e88419;
	  background-repeat: no-repeat;
	  border: none;
	  cursor:pointer;
	  overflow: hidden;

	  border: 1px solid white;
	  border-radius: 5px 5px 5px 5px;
	  height: 50px;
	  width: 250px;
	}

	::-webkit-input-placeholder {
	  color: white;
	  transition: opacity 250ms ease-in-out;
	  font-size: 1.1em;
	  text-align: center;
	}

	input, select, textarea{
	    color: white;
	    padding-left: 10px;
	    padding-right: 10px;
	}

	#submit_button {

	  width: 200px;
	  height: 55px;
	  font-size: 1em;

	  margin-top: 45px;
	}
}
